// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "card";



.new-image {
  background-size: cover;

}


h1 {
  color: white;
  margin-top: 30px;
  font-family: 'Courgette', cursive;
}

.create-form {
  color:white;

}
